body{
    background-color: blanchedalmond;
}

h1 {
    font-size: 24px;
}

header {
    -----
}

/**.navbar {
    color: red;
    text-decoration: none;
}**/

.nav-bg {
    background-color: #294C60;
}

.nav-bg .navtext {
    color: green;
}
 
.nav-link {
    color:#FFEFD3;
}

.nav-link:after {
    content: '|';
    padding: 0 1rem;
}

.navbar-brand {
    color: #ADB6C4;
}

.btn {
    color:#294C60;
    background-color:#FFC49B;
}

.header-items {
    background-color: #001B2E;
    height: 100px;
    display: flex;
    align-items: center;
    justify-items: flex-end;
    color: #294C60;
}

.header-row {
    display: flex;
    justify-items: center;
    align-items: center;
}
.header-text {
    color: #FFC49B;
    display:flex;
    justify-content:flex-start;
    align-items: center;
}

.header-member-btns{
    display: flex;
    flex: 1;
    justify-content:flex-end;
    align-items: center;
    max-width: 100%;
    width: 100%;
    height: 40px; 
}

footer {
    background-color:#294C60;
    color: #FFEFD3;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
}

.footer-contaniner {
    width: 100%;
}

.footer-title {
    color: #ADB6C4;
}

.footer-links {
    color:#FFC49B;
}

.copyright-text {
    color: #FFC49B;
}

h6 {
    color:#ADB6C4;
}
main {
    height: 500px;
}
.blank-space {
    height: 100px;
}

.bgimage {
    width:100%;
    height:500px;
    background: url('../images/dog2.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment:scroll;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 100px;
  }
  .bgimage h5 {
    color:white;
    text-shadow:2px 2px #333;
  }

  .hero-text-block {
      align-content: center;
      justify-content: center;
      background-color: #294C60;
      width: 450px;
      height: 230px;
      color: white;
      border-radius: 20px;
  }

  .hero-items {
      display: flex;
      justify-content: flex-end;
      align-items:center;
      margin-right: 50px;;
  }

  .custom-cards {
      background-color: red;
      height: 300px;;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .card-body{
      display: grid;
      justify-content: center;
      grid-template-rows: repeat(3,1fr);
      text-align: center;
      align-items:center;
      margin-left: 10px;
      margin-right: 10px;
  }

  .card-icon{
      color:rgb(52, 62, 199);
      font-size: 50px;
  }

/*** Media Queries ***/

@media (max-width: 992px) {
    /* CSS that should be displayed if width is equal to or less than 9940px goes here */
    .header-items {
        display: flex;
        align-items: center;
        justify-items: flex-start;
    }
    
    .header-text {
        display:flex;
        justify-content:flex-end;
        align-items: center;
    }

    .header-member-btns{
        display: flex; 
        flex: 1;
        justify-content:flex-end;
        align-items: center;
    }

    .hero-text-block {
        align-content: center;
        justify-content: center;
        background-color: #294C60;
        width: 300px;
        height: 300px;
        color: white;
        border-radius: 20px;
    }
  
    .hero-items {
        display: flex;
        justify-content: flex-end;
        align-items:center;
        margin-right: 30px;;
    }
  }

  @media (max-width: 768px) {
    /* CSS that should be displayed if width is equal to or less than 768px goes here */
    .header-items {
        display: flex;
        align-items: center;
        justify-items: flex-start;
    }
    
    .header-text {
        display:flex;
        justify-content:center;
        align-items: center;   
    }

    .header-member-btns{
        display: flex; 
        flex: 1;
        justify-content: center;
        align-items: center;
    }

    .hero-text-block {
        align-content: center;
        justify-content: center;
        background-color: #294C60;
        width: 670px;
        height: 190px;
        color: white;
        border-radius: 20px;
    }
  
    .hero-items {
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
        margin-top: 270px;
    }
  }

  @media (max-width: 582px) {
    /* CSS that should be displayed if width is equal to or less than 768px goes here */
    .header-items {
        height: 120px;
        display: flex;
        align-content: center;
        align-items: center;
        justify-items: center;
    }
    
    .header-text {
        display:flex;
        justify-content:center;
        align-items: center;   
    }

    .header-member-btns{
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
    }

    .hero-text-block {
        align-content: center;
        justify-content: center;
        background-color: #294C60;
        width: 470px;
        height: 190px;
        color: white;
        border-radius: 20px;
    }
  
    .hero-items {
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
        margin-top: 270px;
    }
  }